[Unit]
Description=Proxy SEN1 LogNAct
After=syslog.target network.target

[Service]
Type=forking
Environment="DATASOURCE_URL=postgresql://user:password@host:5432/databasename"
WorkingDirectory=dirproject
ExecStart=python -m proxieslognact.proxy
ExecStop=/bin/kill -15 $MAINPID
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target